.header {
  position: relative;
  background-color: $background-color;
  height: 748px;
  margin-bottom: 90px;

  &__container {
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;

    @include onDesktop {
      padding: 0 55px;
    }

    @include onTablet {
      padding: 0 39px;
    }
  }

  @include onTablet {
    min-height: 100vh;
    margin-bottom: 105px;
  }

  @include onDesktop {
    margin-bottom: 110px;
  }

  &__right-side {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;

    @include onTablet {
      flex-direction: row;
      gap: 40px;
    }
  }

  &__title-dates {
    color: $white-color;
    margin-bottom: 10px;

    @include onDesktop {
      padding-top: 90px;
    }
  }

  &__title {
    margin: 0;
    padding-bottom: 30px;
    color: $white-color;

    @include onTablet {
      padding-bottom: 20px;
    }
  }

  &__title-nowrap {
    @include onTablet {
      white-space: nowrap;
    }
  }

  &__subtitle {
    color: $white-color;
    line-height: 24px;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 50px;
      max-width: 330px;
    }

    @include onDesktop {
      margin-bottom: 80px;
      max-width: max-content;
    }
  }

  &__img-container {
    display: flex;
    height: 272px;
    justify-content: center;
    position: absolute;
    right: 50%;
    left: 50%;

    @include onTablet {
      height: 494px;
      right: 0;
      left: 39vw;
      bottom: 0;
    }

    @include onDesktop {
      height: 662px;
      justify-content: end;

    }
  }

  &__img {
    height: 100%;
    object-fit: contain;
    object-position: right;
  }

  &__event-data {
    display: none;
    color: $white-color;

    @include onDesktop {
      display: flex;
      align-items: center;
      width: 50%;
      gap: 20px;
    }
  }

  &__line {
    flex: 1;
    display: block;
    height: 1px;
    background-color: $white-color;
    opacity: 0.3;

    &--menu {
      opacity: 1;
      margin: 38px 0;
    }
    @include onDesktop {
      opacity: 0.3;
      width: 50%;
      margin: 60px 0;
    }
    @include onDesktop {
      margin: 50px 0;
    }
  }
}
