.last-section {

  &__title {
    margin-bottom: 20px;
  }

  &__discription {
    margin-bottom: 50px;
  }

  &__field {
    border: none;
    border-bottom: 1px solid $dark-color;
    outline: none;
    width: 100%;
    margin-bottom: 30px;
    font-weight: 700;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus, {
      -webkit-text-size-adjust: inherit;
      -webkit-text-fill-color: $secondary-red-color;
      -webkit-background-clip: text;
    }

    &::placeholder {
      font-weight: 400;
    }

    &:hover {
      border-bottom: 1px $main-color solid;
      color: $secondary-red-color;
      background: none;

      &::placeholder {
        color: $secondary-red-color;
      }
    }

    &:focus {
      color: $secondary-red-color;
      background: none;
      border-bottom: 1px $main-color solid;

      &::placeholder {
        color: #ffffff;
      }
    }
  }
}
